{% extends 'base.html' %}


{% block content %}

<main role="main">

    <div>
        <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading" style="font-size:72px;" >3D Gallery Model</h1>
              <p class="lead text-muted">This gallery is a collection of 3D model that have glb extention .</p>

            </div>
          </section>
    </div>

 {% include 'imagesApp/show_album.html' %}

        </div>
      </div>
    </div>


  </main>



  {% endblock %}