<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="navbar-brand">3D Studio  </div>
        <a class="navbar-brand" href=""></a>
        <a class="navbar-brand" href="#">Home</a>
        <a class="navbar-brand" href="#">Gallery</a>
        <!-- <a class="navbar-brand" href="#">Blog</a> -->
        <a class="navbar-brand" href="#">About</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0" role="search" action="#">
            <input class="form-control mr-sm-2" type="text" placeholder="Search Images" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-fw fa-search"></i></button>
          </form>
          <a href="#" class="navbar-brand"><i class="fa fa-fw fa-user"></i> Login</a>
        </div>
      </nav>

<style>
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
</style>



