{% block body %}

  <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
  <style>
	model-viewer{
		width:300px;
		height: 480px;
		margin: 0 auto;
	}
</style>
<div class="album">
        <div class="container">
          <div class="row">
        {% for gallery in img %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm" style="width:20rem;height:23rem;">
                <div class="card-header">{{gallery.nom}}</div>
                <div class="card-body">
                  <img class="card-img-top"src = "{{ gallery.photo.url }}" data-toggle="modal" data-target="#myModal{{gallery.id}}" style="height:150px;"/>
                  <!--model-viewer src="{{ gallery.photo.url }}"  alt="3dmodel" camera-controls auto-rotate></model-viewer-->

                    <br>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#myModal{{gallery.id}}">View</button>
                    </div>
                    <small class="text-muted">Posted : {{gallery.date_pub|timesince}}</small>
                  </div>
                  <div class="modal-body">{{gallery.description}}</div>
                </div>
              </div>
          </div>

          <!-- Modal -->
<div class="modal fade" id="myModal{{gallery.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="#{{gallery.id}}">{{image.nom}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <!--img src = "{{ gallery.photo.url }}" class="img-fluid" alt="{{gallery.name}}"/-->
        <model-viewer src="{{ gallery.photo_3D.url }}"  alt="3dmodel" camera-controls auto-rotate></model-viewer>

      </div>
      <div class="modal-body">{{gallery.description}}</div>
      <div class="modal-footer">

        <button type="button" class="btn btn-info" value="https://django-photo-gallery.herokuapp.com{{ gallery.photo.url }}" onclick="copyURL(this.value)">Copy URL</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
function copyURL(value){
  function handler(event){
    event.clipboardData.setData('text/plain',value);
    event.preventDefault();
    document.removeEventListener('copy',handler, true);
  }
  document.addEventListener('copy', handler, true);
  document.execCommand('copy');
}
</script>
          {% empty %}
          <h3>The gallery is still empty!</h3>


        {% endfor %}


</div>

{% endblock %}

